<p style="color: green"><%= notice %></p>

<h1>AIIT Reminders</h1>

<div id="remainders">

  <% @remainders.each do |remainder| %>

  <div id="<%= dom_id remainder %>">
    <p>
    <strong>description:</strong>
      <%= remainder.description %>
    <strong>remind date:</strong>
      <%= remainder.remainds[0].remaind_at %>
    </p>
  
  </div>
 <% end %>

</div>

<%= link_to "New task", new_remainder_path %>