<div id="new-task-body">
  <%= form_with(model: @remind_item, url: reminders_path) do |form| %>

    <div id="new-task-content">
    <%= form.label "内容", style: "display: block" %>
    <%= form.text_field :description %>

    <%= fields_for :remind, @remind_item.reminds.first do |remind_form| %>
      <%= form.label "日時", style: "display: block" %>
      <%= remind_form.datetime_field :remind_at %>
    <% end %>
    </div>
    <%= form.submit "登録" %>
  <% end %>
  <%= link_to "戻る", reminders_path %>
</div>
