<h1>This task</h1>

<p style="color: green"><%= notice %></p>

<%#= render @reminder %>
<div id="<%= dom_id @reminder %>">
  <p>
  <strong>description:</strong>
    <%= @reminder.description %>
  <strong>remind date:</strong>
    <%= @reminder.reminds[0].remind_at %>
  </p>

  <% if @reminder.reminds[0].notified == true %>
    <%= form_with(model: @remind, url: reminder_path(@reminder.id), method: "put")  do |formUpdate| %>
      <!--フォーム内容 -->
      <%= formUpdate.datetime_field :remind_at %>
      <%= formUpdate.submit "再通知設定" %>
    <% end %>
  <% end %>
</div>
<div>

  <%= link_to "Back to tasks", reminders_path %>
</div>
